@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import "tailwindcss";

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  display: inline-block;
  line-height: 1;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
